[submodule "production/RPi5/external/rplidar_sdk"]
	path = production/RPi5/external/rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk
[submodule "production/RPi5/external/tomlplusplus"]
	path = production/RPi5/external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
